.lineWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lightgray);
  position: relative;
  overflow: hidden;
}

.main::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--color-darkgray);
  transition: all 1000ms;
  z-index: 15;
}

.main.active::before {
  height: 0px;
}

.title {
  color: var(--color-darkgray);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.title>div:first-child {
  font-size: 15rem;
  margin: 0 165px -70px 0;
}

.title>div:last-child {
  font-size: 20rem;
  margin-bottom: -50px;
}

strong {
  display: inline-block;
}

strong>span {
  display: inline-block;
  transition: all 0.5s;
}

strong>span:not(.dash):not(.arrow):hover {
  filter: brightness(0.7);
  transform: scale(1.1);
}

.dash {
  display: inline-block;
  background-color: var(--color-darkgray);
  height: 33px;
  margin: 4.3rem 3rem;
}

.arrow {
  position: relative;
  letter-spacing: normal;
  transform: translateY(-300%);
  transition: transform 1.5s;
  cursor: pointer;
}

.arrow.active {
  transform: translateY(0);
}

.arrow::before {
  content: 'SCROLL DOWN';
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 5s;
  opacity: 0;
  font-size: 1.5rem;
}

.arrow.active::before {
  opacity: 1;
}

.arrow::after {
  content: '';
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 60px solid transparent;
  border-top: 60px solid var(--color-darkgray);
}

.arrow:hover {
  transform: scale(1.2) rotate(5deg);
}

.reason {
  position: absolute;
  bottom: 5%;
  width: 100%;
  color: var(--color-gray);
  font-size: 1.5rem;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  z-index: 5;
}

.original,
.clone {
  display: flex;
  align-items: center;
  animation-play-state: paused;
}

.original.active {
  animation: 60s linear infinite originAnimation;
}

.clone.active {
  animation: 60s linear infinite cloneAnimation;
}

@keyframes originAnimation {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes cloneAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.original>p,
.clone>p {
  display: flex;
  align-items: center;
  position: relative;
}

.plus {
  margin: 0 1.5rem;
  font-size: 2rem;
  animation: 10s linear infinite plusAnimation;
}

@keyframes plusAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}