.contactCard {
  position: relative;
  width: 320px;
  height: 150px;
  border-radius: 1rem;
  background-color: var(--color-intro);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
}

.contactCard::after {
  content: '';
  position: absolute;
  left: 85%;
  top: -5%;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: var(--color-intro);
  transition: all 1s;
}

.img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.midLine {
  width: 1px;
  height: 100%;
  background-color: var(--color-darkgray);
}

.info {
  line-height: 1.8rem;
}

.info>li {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}