:root {
  --color-darkgray: #424053;
  --color-gray: #8D9BA4;
  --color-lightgray: #C4C9CD;
  --color-darkbeige: #D9CCC3;
  --color-beige: #E6DFD7;
  --color-lightbeige: #F4F5F0;
}

html.darkMode {
  --color-darkgray: #C4C9CD;
  --color-gray: #8D9BA4;
  --color-lightgray: #424053;
  --color-darkbeige: #D9CCC3;
  --color-beige: #E6DFD7;
  --color-lightbeige: #F4F5F0;
}

body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100%;
}

body.popupActive {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}