:root {
  --color-darkgray: #2E2B24;
  --color-gray: #B6B4AF;
  --color-lightgray: #8C8889;
  --color-intro: #B6B4AF;
  --color-ability: #6A6667;
  --color-ability-card: #8C8889;
  --color-ability-card-stroke: #B6B4AF;
}

html.darkMode {
  --color-darkgray: #8C8889;
  --color-gray: #B6B4AF;
  --color-lightgray: #2E2B24;
  --color-intro: #2E2B24;
  --color-ability: #3F3C36;
  --color-ability-card: #26241F;
  --color-ability-card-stroke: #44423D;
}

body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100%;
}

body.popupActive {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}